@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>VMS</title>
        <script type="text/javascript" src="~/Scripts/ScriptsPreDefined/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js1.js"></script>
    </head>
    <body>
        <div class="cs1">
            @RenderBody() 
        </div>
    </body>
</html>


